@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@mixin flexbox($direction: row, $gap: 0, $align: unset, $justify: unset) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  align-items: $align;
  justify-content: $justify;
}
@mixin blur-bg() {
  backdrop-filter: blur(7px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 1.5rem;
}
* {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}
body {
  background: rgb(17, 25, 39) url("../assets/bg-image.jpg") center / cover
    no-repeat;
  &::-webkit-scrollbar {
    display: none;
  }
  overflow-y: scroll; /* pour le défilement vertical */
}
.content {
  @include flexbox(row, 5em, center, center);
  width: 100%;
  height: 100vh;
}
@media screen and (max-width: 1450px) {
  .content {
    flex-direction: column;
  }
}
.left-pan {
  @include flexbox($gap: 30px);
}
@media screen and (min-width: 1451px) {
  .left-pan {
    flex-direction: column;
  }
}
.time-weather {
  @include flexbox(column, 2.5em);
  @include blur-bg();
  text-align: center;
}
.time {
  @include flexbox(column);
  font-weight: bold;
}
.clock {
  font-size: 3em;
}
.date {
  margin-top: 10px;
  font-size: 1.5em;
}
.weather {
  @include flexbox($gap: 3em);
}
.weather-timestamp {
  @include flexbox(column, $align: center);
  img {
    height: 80px;
    margin: 1.5em;
  }
  p {
    margin: 0;
  }
  p.timestamp {
    font-size: 1.5em;
    margin-bottom: 7px;
  }
  .temp-group {
    @include flexbox(row, 0.5em, baseline);
  }
  p.temp {
    font-size: 1.7em;
  }
  p.subtemp {
    color: #d8dce2;
    font-size: 1.3em;
  }
  p.comment {
    font-size: 1.2em;
  }
  &.first {
    flex-direction: row;
    p.temp {
      font-size: 2em;
    }
    img {
      height: 120px;
    }
    span {
      @include flexbox(column, 1em, $justify: center);
      text-align: left;
    }
  }
}
.discord-card {
  @include flexbox(column, 1em);
  @include blur-bg();
  min-width: 350px;
}
.discord-card-header {
  @include flexbox($justify: space-between);
  height: 50px;
}
.discord-card-header img {
  width: 150px;
}
.discord-card-header a {
  @include flexbox($gap: 15px, $align: center);
  font-size: large;
  font-weight: bold;
  text-decoration: none;
}
.discord-separate {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}
.discord-card-body {
  @include flexbox(column, 1.5em);
  section {
    @include flexbox($gap: 1.5em, $align: center);
    padding-top: 8px;
    img {
      height: 50px;
      border-radius: 50%;
    }
    .status {
      @include flexbox(column, $justify: flex-end);
      height: 50px;
      h3 {
        margin: 0 0 6px 0;
        font-weight: 500;
        font-size: 18px;
      }
      div {
        @include flexbox($gap: 5px, $align: center);
        color: #9ca3af;
      }
      .green-dot,
      .yellow-dot {
        height: 8px;
        width: 8px;
        border-radius: 50%;
      }
      .green-dot {
        background-color: rgb(35, 165, 90);
      }
      .yellow-dot {
        background-color: rgb(240, 178, 50);
      }
    }
  }
}
.right-pan {
  @include flexbox(column, 50px);
  section {
    @include flexbox($gap: 30px);
  }
  a {
    @include flexbox($gap: 0.5em, $align: center);
    @include blur-bg();
    padding: 0.3em 1em;
    font-size: 22px;
    text-decoration: none;
  }
  a:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(108%);
  }
  a img {
    margin-right: 0.5em;
    height: 40px;
  }
}
.notification-pan {
  @include flexbox(column, 1em, flex-end);
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
}
.notification {
  font-size: 22px;
  padding: 10px 15px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 10px;
  transform: translateX(115%);
}

.notification-info {
  background-color: rgb(63, 140, 63);
}

@keyframes slideinout {
  0% {
    transform: translateX(115%);
  }
  25% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(115%);
  }
}
.settings-open-button {
  @include blur-bg();
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1em;
  padding: 0.5rem 0.5rem 0.3rem 0.5rem;
  cursor: pointer;
}
.settings-bg {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}
.settings {
  @include flexbox(column, 2em);
  @include blur-bg();
  width: 40vw;
}
.settings h1 {
  margin: 0;
  padding: 0;
  font-size: 2em;
  text-align: center;
}
.settings form {
  display: grid;
  grid-template: auto / auto 1fr;
  gap: 1em 1em;
  font-size: 16px;
  align-items: center;
  label {
    @include flexbox(column, 0.5em);
  }
  input[type="text"] {
    font-size: 16px;
    color: black;
    padding: 0.3em;
  }
}
.settings-buttons {
  @include flexbox($gap: 1em, $justify: space-between);
}
.settings-save-button {
  padding: 0.5rem;
  cursor: pointer;
  width: 50%;
  backdrop-filter: blur(7px) saturate(180%);
  background-color: rgba(11, 126, 13, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 10px;
}
.settings-reset-button {
  padding: 0.5rem;
  width: 30%;
  cursor: pointer;
  backdrop-filter: blur(7px) saturate(180%);
  background-color: rgba(152, 39, 33, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 10px;
}
.settings-close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
  padding: 0.5rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
